.match-box {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 25px;
    margin-top: 15px;
    width: 100%
}

.team-box {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    word-break: break-word;
}

.league-element {
    padding: 5px
}

.league-name {
    font-size: 17px;
}
.shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding-left: 5px;
}