@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Заключен профил</h1>
    <p class="text-danger">Този профил е заключен, моля, опитайте отново по-късно.</p>
</header>
